.collapse-profile{
  animation: collapseProfile 0.3s ease forwards;
  overflow: hidden;
}

@keyframes collapseProfile {
  from {
    max-height: 80px;
  }
  to {
    max-height: 0px;
  }
}

.show-profile{
  animation: showProfile 0.3s ease-in-out forwards;
  overflow: hidden;
}

@keyframes showProfile {
  from {
    max-height: 0px;
  }
  to {
    max-height: 80px;
  }
}

.profileSection-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.private-div{
  width: 90%;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.private-div p{
  margin-left: 20px;
  margin-top: 0px;
  color: #969696;
}

.invite-div{
  width: 90%;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.invite-div p{
  margin-left: 20px;
  margin-top: 0px;
  color: #969696;
}

.saveChat-div{
  width: 90%;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.saveChat-div p{
  margin-left: 20px;
  margin-top: 0px;
  color: #969696;
}