.collapse-chatSettings{
  animation: collapsechatSettings 0.3s ease forwards;
  overflow: hidden;
}

@keyframes collapsechatSettings {
  from {
    max-height: 90px;
  }
  to {
    max-height: 0px;
  }
}

.show-chatSettings{
  animation: showchatSettings 0.3s ease-in-out forwards;
  overflow: hidden;
}

@keyframes showchatSettings {
  from {
    max-height: 0px;
  }
  to {
    max-height: 90px;
  }
}

/* .profile-title{
  margin: 0 0 0 15px;
  font-size: 1.3rem;
  color: rgba(255,255,255,0.95);
  font-weight: 500;
  text-align: start;
} */

.chatSettingsSection-div{
  width: 100%;
  height: 90px;
  /* background-color: #5b21b6; */
  /* max-height: 80px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.private-div{
  width: 90%;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.private-div p{
  margin-left: 20px;
  margin-top: 0px;
  color: #969696;
}

.showSender-div{
  width: 90%;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.showSender-div p{
  margin-left: 20px;
  margin-top: 0px;
  color: #969696;
}

.saveChat-div{
  width: 90%;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.saveChat-div p{
  margin-left: 20px;
  margin-top: 0px;
  color: #969696;
}

.allowAdd-div{
  width: 90%;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.allowAdd-div p{
  margin-left: 20px;
  margin-top: 0px;
  color: #969696;
}