.modal-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.createroom-div {
  width: 350px;
  /* height: 390px; */
  /* margin: auto; */
  z-index: 10;
  position: fixed;
  top: 18%;
  left: 40%;
  box-shadow: 0px 0px 50px 10px rgba(61, 61, 61, 0.089);
  background-color: var(--background-color);
  border-radius: 10px;
  border: 1px solid rgba(87, 87, 87, 0.7);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
}

.createroom-title {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.lables-inputs-div {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
  margin-top: 10px;
}

.setting-div {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  width: 90%;
  margin-top: 10px;
}

.lable {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.setting-lable {
  color: rgb(223, 223, 223);
  font-size: 16px;
  font-weight: 400;
}

.input {
  width: 95%;
  height: 35px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.185);
  padding: 0px 8px;
  outline: none;
  border-radius: 5px;
  margin-top: 4px;
  color: white;
  font-size: 0.97rem;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.btns-div{
    margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.createroom-btn {
  cursor: pointer;
  width: 45%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.185);
  border-radius: 5px;
}

.createroom-btn p {
  padding: 0px;
  margin: 0px;
}

.cancel-btn {
  cursor: pointer;
  width: 45%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.185);
  border-radius: 5px;
}

.cancel-btn p {
  padding: 0px;
  margin: 0px;
}

.createroom-btn-active {
  background-color: #1dc4bf;
  cursor: pointer;
}

.login-redirect-div {
  color: white;
}

.login-redirect-div a {
  color: skyblue;
}

.private-room-warning-div {
  width: 90%;
  margin-top: 4px;
  display: flex;
  justify-content: left;
  align-items: left;
  height: auto;
  color: rgb(247, 166, 90);
  font-size: 14px;
  font-weight: 400;
}

.private-room-warning-div p {
  margin: 0px;
  padding: 0px;
  text-align: start;
}
