.login-div {
  width: 350px;
  height: 320px;
  margin: auto;
  background-color: var(--background-color);
  border-radius: 10px;
  border: 1px solid rgba(87, 87, 87, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.login-title {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.lables-inputs-div {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
  margin-top: 10px;
}

.lable {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.input {
  width: 95%;
  height: 35px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.185);
  padding: 0px 8px;
  outline: none;
  border-radius: 5px;
  margin-top: 4px;
  color: white;
  font-size: 0.97rem;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.login-btn {
  margin-top: 20px;
  width: 90%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.185);
  border-radius: 5px;
}

.login-btn p{
    padding: 0px;
    margin: 0px;
}

.login-btn-active {
    background-color: #1DC4BF;
    cursor: pointer;
}

.signup-redirect-div{
  color: white;
}

.signup-redirect-div a{
  color: skyblue;
}