:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: rgb(15, 15, 15);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.644),
      rgba(0, 0, 0, 0.671),
      rgba(0, 0, 0, 0.747),
      rgba(0, 0, 0, 0.849),
      rgba(0, 0, 0, 0.904),
      rgba(0, 0, 0, 0.966),
      rgba(0, 0, 0, 0.979),
      rgba(0, 0, 0, 0.986)
    ),
    url("./assets/grid.svg");
  background-repeat: repeat;
  /* opacity: 0.7; */
  background-size: 100% 100%, 55px 55px;
}
