.modal-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.DiscoverRoom-div {
  width: 55%;
  min-height: 190px;
  max-height: 390px;
  z-index: 10;
  position: relative;
  box-shadow: 0px 0px 50px 10px rgba(61, 61, 61, 0.089);
  background-color: var(--background-color);
  border-radius: 10px;
  border: 1px solid rgba(87, 87, 87, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.DiscoverRoom-title {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.discover-rooms-div {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.discover-rooms-div::-webkit-scrollbar {
  width: 6px;             
}

.discover-rooms-div::-webkit-scrollbar-track {
  background: #161717;       
  border-radius: 6px;
}

.discover-rooms-div::-webkit-scrollbar-thumb {
  background: #2e2f2f;         
  border-radius: 10px;
}

.discover-room-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: rgb(24, 24, 24);
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.username-label{
  color: white;
}

.no-room-avilable-lable{
  color: white;
  font-size: 22;
  font-weight: 500;
}

.joinRoom-btn{
  cursor: pointer;
  width: 100px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(63, 219, 24);
  font-size: 14px;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.185);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btns-div{
    margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.DiscoverRoom-btn {
  cursor: pointer;
  width: 45%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.185);
  border-radius: 5px;
}

.DiscoverRoom-btn p {
  padding: 0px;
  margin: 0px;
}

.cancel-btn {
  cursor: pointer;
  width: 45%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.185);
  border-radius: 5px;
}

.cancel-btn p {
  padding: 0px;
  margin: 0px;
}

